@model Biblio.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h4 class="text-primary mt-5">Add New Reservation</h4>
<hr />
<div class="row">
    @if (ViewData["ValidateMessage"] != null)
    {
        <br />
        <br />
        <label class="text-danger">@ViewData["ValidateMessage"]</label>
    }
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="SubscriberId" class="control-label">Subscriber</label>
                <select asp-for="SubscriberId" asp-items="@ViewData["SubscribersList"] as SelectList" class="form-control">
                    <option value="">Select a Subscriber</option>
                </select>
                <span asp-validation-for="SubscriberId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BookId" class="control-label">Book</label>
                <select asp-for="BookId" asp-items="@ViewData["BookList"] as SelectList" class="form-control">
                    <option value="">Select a Book</option>
                </select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TakeDate" class="control-label"></label>
                <input asp-for="TakeDate" class="form-control" />
                <span asp-validation-for="TakeDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BackDate" class="control-label"></label>
                <input asp-for="BackDate" class="form-control" />
                <span asp-validation-for="BackDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Back to List</a>
            </div>
           
        </form>
    </div>
</div>


